<h1 class="visibility-hidden">{{ help_center.name }}</h1>


<section class="jumbotron" style="background-color: #0F5A84; color: white; padding-bottom: 150px;">
    <div class="container">
        <h2>Une plateforme d'accompagnement pour le personnel enseignant de langue française de l'Ontario</h2>
        <div class="row">
            <div class="col">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/yK4aAYHKAjg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col">
                <p>Tu enseignes dans une école de langue française de l’Ontario ? Une équipe en ligne est là pour t’appuyer.  Nous t’offrons un service personnalisé et confidentiel pour t’appuyer dans ton enseignement. </p>
                <a href="#" class="btn btn-light btn-lg btn-block" style="position: absolute; bottom: 0; margin-bottom: 20px;">Télécharger le dépliant</a>
            </div>
        </div>
    </div>
</section>



<section class="container">
    <div class="row justify-content-center" style="margin-top: -116px">

        <div class="col" style="border: 2px #0F5A84 solid; width: 160px; max-width: 160px; height: 160px; background-color: #eeeeee; text-align: center; padding-top: 24px; color: #00AED6; margin-right: 96px;">
            <i style="font-size: 80px; margin: auto;" class="fa fa-envelope-o" aria-hidden="true"></i>
            <span style="color: black;">Courriel</span>
        </div>
        <div class="col" style="border: 2px #0F5A84 solid; width: 160px; max-width: 160px; height: 160px; background-color: #eeeeee; text-align: center; padding-top: 24px; color: #00AED6; margin-right: 96px;">
            <i style="font-size: 80px; margin: auto;" class="fa fa-phone" aria-hidden="true"></i>
            <span style="color: black;">Téléphone</span>
        </div>
        <div class="col" style="border: 2px #0F5A84 solid; width: 160px; max-width: 160px; height: 160px; background-color: #eeeeee; text-align: center; padding: 16px 40px 0px 40px; color: #00AED6; margin-right: 96px;">
            <i style="font-size: 88px; margin: auto;" class="fa fa-mobile" aria-hidden="true"></i>
            <span style="color: black;">Texto</span>
        </div>
        <div class="col" style="border: 2px #0F5A84 solid; width: 160px; max-width: 160px; height: 160px; background-color: #eeeeee; text-align: center; padding-top: 24px; color: #00AED6;">
            <i style="font-size: 80px; margin: auto;" class="fa fa-comments" aria-hidden="true"></i>
            <span style="color: black;">Clavardage</span>
        </div>
    </div>
    <div class="alert alert-dark mt-4" role="alert">Les heures d’ouverture sont les suivantes : le dimanche de 17 h à 21 h et du lundi au jeudi de 16 h à 21 h</div>
</section>

<section class="container">
    <div class="row my-4">
        <div class="col d-flex align-items-center">
            <img src="{{asset 'list.jpg'}}" style="width: 500px"/>
        </div>
        <div class="col">
            <p>Que tu sois une enseignante ou un enseignant nouvellement qualifié(e), une suppléante ou un suppléant à long terme, un membre du personnel enseignant nouvellement arrivé en Ontario, ce service est pour toi.</p>
            <span>Voici des exemples de thématiques pour lesquelles tu peux obtenir un soutien :</span>
            <ul class="bullets">
                <li>La planification des activités d’apprentissage dans toutes les matières</li>
                <li>La gestion de classe et le climat scolaire</li>
                <li>L’évaluation du rendement de l’élève</li>
                <li>Le curriculum de l’Ontario</li>
                <li>L’appui aux élèves ayant des besoins particuliers</li>
                <li>L’enseignement en milieu minoritaire et la culture des écoles de langue française</li>
                <li>La communication avec les parents</li>
                <li>La différenciation pédagogique</li>
            </ul>
        </div>
    </div>
</section>

<section class="container">



    <h2 style="border-left: 20px solid #00AED6; padding-left: 5px;font-family: 'Libre Franklin', sans-serif;font-weight: 600; color: #0F5A84;">Utilise ton adresse courriel de ton conseil scolaire pour accéder à ton compte Moi j’enseigne !</h2>
    <div class="row justify-content-center"><div class="col-md-6 offset-md-3">
    <button type="button" class="btn btn-secondary mj-flare">Connexion à mon compte</button>
    </div></div>
    <div class="card mt-4" style="background-color: #eeeeee">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-sm-2">
                    <img src="https://placeimg.com/150/100/any" />
                </div>
                <div class="col-sm-10">
                    <h3 style="font-family: 'Libre Franklin', sans-serif; font-weight: 500; color: #0F5A84">Notre équipe</h3>
                    <p>L’équipe de Moi j’enseigne est composée, entre autres, d’enseignantes et d’enseignants chevronnés(es), de conseillères et conseillers pédagogiques, de personnes à la direction d’école.</p>
                    <a href="#">Connectez-vous à votre compte pour discuter avec eux! ></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="card mt-4" style="background-color: #eeeeee">
        <div class="card-body">
            <h3 style="font-family: 'Libre Franklin', sans-serif; font-weight: 500; color: #0F5A84">Bannière capsules d'auto-formation</h3>
        </div>
    </div>
    <div class="card mt-4" style="background-color: #eeeeee">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-sm-10">
                    <h3 style="font-family: 'Libre Franklin', sans-serif; font-weight: 500; color: #0F5A84">Enseigner en français, en Ontario</h3>
                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <a href="#">Enseigner en français en Ontario ></a><img/>
                </div>
                <div class="col-sm-2">
                    <img src="https://placeimg.com/150/100/any" class="card-img-right" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="jumbotron mt-4" style="margin-bottom: 0px">
    <div class="container">
        <div class="d-flex justify-content-center">

        <button type="button" class="btn btn-secondary mr-4"><i class="material-icons">arrow_back_ios</i></button>

        <img class="mr-4" src="https://placeimg.com/100/100/any"/>
        <img class="mr-4" src="https://placeimg.com/100/100/any"/>
        <img class="mr-4" src="https://placeimg.com/100/100/any"/>
        <img class="mr-4" src="https://placeimg.com/100/100/any"/>
        <img class="mr-4" src="https://placeimg.com/100/100/any"/>
        <img class="mr-4" src="https://placeimg.com/100/100/any"/>
        <button type="button" class="btn btn-secondary"><i class="material-icons">arrow_forward_ios</i></button>
        </div>
    </div>
</section>
<!--  <section class="section knowledge-base">-->
<!--    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>-->
<!--    <section class="categories blocks">-->
<!--      <ul class="blocks-list">-->
<!--        {{#each categories}}-->
<!--          {{#if ../has_multiple_categories}}-->
<!--            <li class="blocks-item">-->
<!--              <a href='{{url}}' class="blocks-item-link">-->
<!--                <span class="blocks-item-title">{{name}}</span>-->
<!--                <span class="blocks-item-description">{{excerpt description}}</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          {{else}}-->
<!--            {{#each sections}}-->
<!--              <li class="blocks-item">-->
<!--                <a href='{{url}}' class="blocks-item-link">-->
<!--                  <span class="blocks-item-title">-->
<!--                    {{name}}-->
<!--                  </span>-->
<!--                  <span class="blocks-item-description">{{excerpt description}}</span>-->
<!--                </a>-->
<!--              </li>-->
<!--            {{/each}}-->
<!--          {{/if}}-->
<!--        {{/each}}-->
<!--      </ul>-->
<!--      {{pagination}}-->
<!--    </section>-->

<!--    {{#if promoted_articles}}-->
<!--      <section class="articles">-->
<!--        <h2>{{t 'promoted_articles'}}</h2>-->
<!--        <ul class="article-list promoted-articles">-->
<!--          {{#each promoted_articles}}-->
<!--            <li class="promoted-articles-item">-->
<!--                <a href="{{url}}">-->
<!--                  {{title}}-->

<!--                  {{#if internal}}-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">-->
<!--                      <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>-->
<!--                      <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>-->
<!--                    </svg>-->
<!--                  {{/if}}-->
<!--                </a>-->
<!--            </li>-->
<!--          {{/each}}-->
<!--        </ul>-->
<!--      </section>-->
<!--    {{/if}}-->
<!--  </section>-->

<!--  {{#if help_center.community_enabled}}-->
<!--    <section class="section home-section community">-->
<!--      <h2>{{t 'community'}}</h2>-->
<!--      {{#link 'community' class='community-link'}}-->
<!--        {{t 'join_conversation'}}-->
<!--      {{/link}}-->

<!--      <div class="community-image"></div>-->
<!--    </section>-->
<!--  {{/if}}-->

<!--  <section class="section home-section activity">-->
<!--    {{#if settings.show_recent_activity}}-->
<!--      {{recent_activity}}-->
<!--    {{/if}}-->
<!--  </section>-->
<!--</div>-->
<!-- Start of moi-jenseigne Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=cc861de1-26a2-4823-a7f1-fee3ccdac9b1">
</script>
<!--Bootstrap-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
    zESettings = {
        webWidget: {
            contactForm: {
                fields: [
                    { id: 'description', prefill: { '*': 'My field text' } }
                ]
            }
        }
    };
</script>

<!-- End of moi-jenseigne Zendesk Widget script -->


